#container { 
    display: grid;
    justify-content: center;
    align-self: center;
 }

#mapid{
    height: 40vw;
    width: 60vw;
    border: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: rgba(146, 146, 146, 0.836);
    border-radius: 5px;
}

.marker{
    width: 400px;
    height: 400px;

}
.popup{
    font-weight: 10px;
    font-size: large;
    
    background-color: aquamarine;
    color: royalblue;
}